*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box; 
 }
 .container{
     width: 100%;
     min-height: 100vh;
     background: linear-gradient(135deg,pink,#2719c4);
     padding: 10px;
     
 }
 
 .todo-app{
     width: 100%;
     max-width: 540px;
     background: sienna;
     margin: 100px auto 20px;
     padding:40px 30px 70px;
     border-radius: 10px;
 }
 .todo-app h2{
     color: #002765;
     display: flex;
     align-items: center;
     margin-bottom: 20px;
 }
 .todo-app h2 img{
     width: 30px;
     margin-left: 10px;
 }
 .row{
     display: flex;
     align-items: center;
     border-radius: 30px;
     justify-content: space-between;
     padding-left: 20px;
     margin-bottom: 25px;
     border-color: #25c2b5;
     
 }
 input{
     flex:1;
     border:none;
     outline: none;
     background: whitesmoke;
     border-radius: 10px;
     border-color: #1d529c;
     padding: 10px;
 
 }
 button{
     border:rgb(58, 172, 58);
     outline:rgb(196, 22, 22);
     padding:10px 10px;
     background:#0e6c0e;
     color:#fff;
     font-size: 16px;
     border-radius: 10%;
     cursor:pointer;
 
 }
 ul li{
     list-style: none;
     font-size: 17px;
     padding:12px 8px 12px 50px;
     user-select: none;
     cursor:pointer;
     position: relative;
 }
 ul li::before{
     content: '';
     position:absolute;
     height: 28px;
     width:28px;
     border-radius: 50%;
     background-size: 10%;
     background-image: url(unchecked.png );
     animation-name: left;
     
     background-size:cover;
     background-position: center;
     top:12px;
     left:12px;
 
    
 }
 ul li.checked{
     color:#555;
     text-decoration:line-through;
 }
 ul li.checked::before{
     background-image:url(checked.jpg );
     
 }
 .task-stats {
     overflow: hidden;
     margin: 10px auto;
     width: 600px;
     font-size: 12px;
 }
 .task-stats .tasks-count {
     width: 50%;
     float: left;
     padding: 10px;
 }
 .task-stats .tasks-completed {
     width: 50%;
     float: right;
     padding: 10px;
     text-align: right;
 }
 .task-stats .tasks-count span,
 .task-stats .tasks-completed span {
     color: #FFF;
     padding: 1px 5px;
     font-size: 30px;
     border-radius: 4px;
     font-weight: bold;
 }
 .task-stats .tasks-count span {
     background-color: #030a0c;
 }
 ran{
     font-size: 30px;
 }
 ul li span{
     position:absolute;
     right: 0;
     top:5px;
     width: 40px;
     height:40px;
     font-size: 22px;
     color:#555;
     line-height: center;
     text-align: center;
     border-radius: 50%;
 }
 ul li span:hover{
     background:#dfe5f3 ;
     
 }